/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue:  #2d4b5a;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #2d4b5a;
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 1.3rem;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #dca56a;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  margin-left: 4rem;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.title img {

  width: 200px;
  display: block;
  padding: 0.2rem;
  
  }




.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -------------------------- */
.profilecard-holder {

padding: 2rem;
display: inline-flex;
height: 100%;


}

.card {

  margin-top: 2.5rem;
  height: 800px;
  width: 650px;
  border-radius: 15px;
  background-color:  #2d4b5a;
  text-align: center;
  overflow: hidden;

}

.card__img {
  height: 116px;
  width: 116px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto 15px;
  border: 4px solid var(--primary-color);
  overflow: hidden;
  transition: 0.4s;
  transform: translateY(25px);
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:70% 0%;
}
.card__img:hover {
  width: 100%;
  height: 100%;
  border: none;
  transform: unset;
  border-radius: unset;
}

.card__name {
  font-weight: 600;
  color: #dca56a;
  margin-top: 45px;
}

.card__job {
  color: #dca56a;
}
.card__link {
  margin: 20px;
}

.card__link a{
  color: #dca56a;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 25px 16px;
}
.card__link i {
  transition: 0.3s;
}

.card__link i:hover {
  color: var(--primary-color);
}

.details-container {
margin-left: 2rem;
margin-top: 1rem;
width: 700px;
height: 800px;

}
.details-container h2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #dca56a;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.details-container h2 span {
  margin-left: 10px;
  font-size: 30px;
}
/* 
--------------expertise table----------------- */
table {
  border-collapse: collapse;
  border: 2px solid #ccc;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 24px;
  background-color: #2d4b5a;
  color: #dca56a;
  height: 50%;
  
 
}
.table-container {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}


.editProfile {
  text-align: end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.editButton {
  
  text-align: center;
  border-radius: 25px;
  background-color:  #2d4b5a;
  height: 30px;
  width: 100px;
  border: 0;
  cursor: pointer;
  color: #dca56a;
}
.editButton:hover {
  background-color: #2d4b5a;;
  color: #dca56a;
  transition: all .5s ease;
}
.expertise-details {


  margin-top: 2rem;
}



th, td {
  border: 1px solid #dca56a;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #dca56a;
  color: #2d4b5a
  ;
  font-weight: bold;
  
}

tr:hover {
  background-color: #f5f5f5;
}

td:first-child, th:first-child {
  border-left: none;
}

td:last-child, th:last-child {
  border-right: none;
}

tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 
========================== */

.proffesional-aboutme {
  margin: 0;
  padding: 2rem;
  width: 100%;
text-align: left;
text-overflow: clip;
}
.proffesional-aboutme h2{
  margin-top: 1rem;
  color: #dca56a;
  ;;
  font-weight: 800;
  }



.proffesional-aboutme p {
margin-top: 1rem;
color: #FEF1EF;;

}

.proffesional-aboutme ul li {
  color: #FEF1EF;;
list-style: none;
padding: 0.5rem;
}

#editbutton {
  text-align: end;
}

#editbutton a button{
  background: #2d4b5a;
  background-image: -webkit-linear-gradient(top, #2d4b5a, #2d4b5a);
  background-image: -moz-linear-gradient(top, #2d4b5a, #2d4b5a);
  background-image: -ms-linear-gradient(top, #2d4b5a, #2d4b5a);
  background-image: -o-linear-gradient(top, #2d4b5a, #2d4b5a);
  background-image: linear-gradient(to bottom, #2d4b5a, #2d4b5a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #dca56a;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;




}




/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
    display: block;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 100;
    left: initial;
  }

.main {
  width: 100%;
  left: 0;
  display: block;
  margin: 0;
}

.profilecard-holder {
width: 100%;
  display: block;
  margin: 0;
}

.card {

width: 100%;
padding: 0%;
margin: 0;
margin-bottom: 1rem;
}

.details-container {
  width: 100%;
padding: 0%;
margin: 0;

}
.details-container h2 span {
  margin-left: 10px;
  font-size: 100%;
}

.proffesional-aboutme {
  margin: 0;
  padding: 0;
  width: 100%;

}
}

